# Data Quality notebook

The purpose of this notebook is to perform the Data Quality evaluation in the datasets

In [1]:
import pandas as pd
import numpy as np

# I 94 Aux Database

In [2]:
i94auxdb_file = open('Data/I94_SAS_Labels_Descriptions.SAS')
filecontent = i94auxdb_file.readlines()

In [3]:
country_codes = filecontent[9:298]
country_codes_dic = {}
for rec in country_codes:
    country_codes_key = int(rec.split(' = ')[0].strip())
    country_codes_val = rec.split(' = ')[1].replace("'", "").strip("\n").strip(";").strip()
    country_codes_dic[country_codes_key] = country_codes_val

In [4]:
port_codes = filecontent[302:962]
port_codes_dic = {}
for rec in port_codes:
    port_codes_key = rec.split('\t=\t')[0].strip().replace("'", "")
    port_codes_val = rec.split('\t=\t')[1].replace("'", "").strip()
    port_codes_dic[port_codes_key] = port_codes_val

In [5]:
port_codes_dic

{'ALC': 'ALCAN, AK',
 'ANC': 'ANCHORAGE, AK',
 'BAR': 'BAKER AAF - BAKER ISLAND, AK',
 'DAC': 'DALTONS CACHE, AK',
 'PIZ': 'DEW STATION PT LAY DEW, AK',
 'DTH': 'DUTCH HARBOR, AK',
 'EGL': 'EAGLE, AK',
 'FRB': 'FAIRBANKS, AK',
 'HOM': 'HOMER, AK',
 'HYD': 'HYDER, AK',
 'JUN': 'JUNEAU, AK',
 '5KE': 'KETCHIKAN, AK',
 'KET': 'KETCHIKAN, AK',
 'MOS': 'MOSES POINT INTERMEDIATE, AK',
 'NIK': 'NIKISKI, AK',
 'NOM': 'NOM, AK',
 'PKC': 'POKER CREEK, AK',
 'ORI': 'PORT LIONS SPB, AK',
 'SKA': 'SKAGWAY, AK',
 'SNP': 'ST. PAUL ISLAND, AK',
 'TKI': 'TOKEEN, AK',
 'WRA': 'WRANGELL, AK',
 'HSV': 'MADISON COUNTY - HUNTSVILLE, AL',
 'MOB': 'MOBILE, AL',
 'LIA': 'LITTLE ROCK, AR (BPS)',
 'ROG': 'ROGERS ARPT, AR',
 'DOU': 'DOUGLAS, AZ',
 'LUK': 'LUKEVILLE, AZ',
 'MAP': 'MARIPOSA AZ',
 'NAC': 'NACO, AZ',
 'NOG': 'NOGALES, AZ',
 'PHO': 'PHOENIX, AZ',
 'POR': 'PORTAL, AZ',
 'SLU': 'SAN LUIS, AZ',
 'SAS': 'SASABE, AZ',
 'TUC': 'TUCSON, AZ',
 'YUI': 'YUMA, AZ',
 'AND': 'ANDRADE, CA',
 'BUR': 'BURBANK, CA',
 'CAL': 'CALEXICO, CA',
 'CAO': 'CAMPO, CA',
 'FRE': 'FRESNO, CA',
 'ICP': 'IMPERIAL COUNTY, CA',
 'LNB': 'LONG BEACH, CA',
 'LOS': 'LOS ANGELES, CA',
 'BFL': 'MEADOWS FIELD - BAKERSFIELD, CA',
 'OAK': 'OAKLAND, CA',
 'ONT': 'ONTARIO, CA',
 'OTM': 'OTAY MESA, CA',
 'BLT': 'PACIFIC, HWY. STATION, CA',
 'PSP': 'PALM SPRINGS, CA',
 'SAC': 'SACRAMENTO, CA',
 'SLS': 'SALINAS, CA (BPS)',
 'SDP': 'SAN DIEGO, CA',
 'SFR': 'SAN FRANCISCO, CA',
 'SNJ': 'SAN JOSE, CA',
 'SLO': 'SAN LUIS OBISPO, CA',
 'SLI': 'SAN LUIS OBISPO, CA (BPS)',
 'SPC': 'SAN PEDRO, CA',
 'SYS': 'SAN YSIDRO, CA',
 'SAA': 'SANTA ANA, CA',
 'STO': 'STOCKTON, CA (BPS)',
 'TEC': 'TECATE, CA',
 'TRV': 'TRAVIS-AFB, CA',
 'APA': 'ARAPAHOE COUNTY, CO',
 'ASE': 'ASPEN, CO #ARPT',
 'COS': 'COLORADO SPRINGS, CO',
 'DEN': 'DENVER, CO',
 'DRO': 'LA PLATA - DURANGO, CO',
 'BDL': 'BRADLEY INTERNATIONAL, CT',
 'BGC': 'BRIDGEPORT, CT',
 'GRT': 'GROTON, CT',
 'HAR': 'HARTFORD, CT',
 'NWH': 'NEW HAVEN, CT',
 'NWL': 'NEW LONDON, CT',
 'TST': 'NEWINGTON DATA CENTER TEST, CT',
 'WAS': 'WASHINGTON DC',
 'DOV': 'DOVER AFB, DE',
 'DVD': 'DOVER-AFB, DE',
 'WLL': 'WILMINGTON, DE',
 'BOC': 'BOCAGRANDE, FL',
 'SRQ': 'BRADENTON - SARASOTA, FL',
 'CAN': 'CAPE CANAVERAL, FL',
 'DAB': 'DAYTONA BEACH INTERNATIONAL, FL',
 'FRN': 'FERNANDINA, FL',
 'FTL': 'FORT LAUDERDALE, FL',
 'FMY': 'FORT MYERS, FL',
 'FPF': 'FORT PIERCE, FL',
 'HUR': 'HURLBURT FIELD, FL',
 'GNV': 'J R ALISON MUNI - GAINESVILLE, FL',
 'JAC': 'JACKSONVILLE, FL',
 'KEY': 'KEY WEST, FL',
 'LEE': 'LEESBURG MUNICIPAL AIRPORT, FL',
 'MLB': 'MELBOURNE, FL',
 'MIA': 'MIAMI, FL',
 'APF': 'NAPLES, FL #ARPT',
 'OPF': 'OPA LOCKA, FL',
 'ORL': 'ORLANDO, FL',
 'PAN': 'PANAMA CITY, FL',
 'PEN': 'PENSACOLA, FL',
 'PCF': 'PORT CANAVERAL, FL',
 'PEV': 'PORT EVERGLADES, FL',
 'PSJ': 'PORT ST JOE, FL',
 'SFB': 'SANFORD, FL',
 'SGJ': 'ST AUGUSTINE ARPT, FL',
 'SAU': 'ST AUGUSTINE, FL',
 'FPR': 'ST LUCIE COUNTY, FL',
 'SPE': 'ST PETERSBURG, FL',
 'TAM': 'TAMPA, FL',
 'WPB': 'WEST PALM BEACH, FL',
 'ATL': 'ATLANTA, GA',
 'BRU': 'BRUNSWICK, GA',
 'AGS': 'BUSH FIELD - AUGUSTA, GA',
 'SAV': 'SAVANNAH, GA',
 'AGA': 'AGANA, GU',
 'HHW': 'HONOLULU, HI',
 'OGG': 'KAHULUI - MAUI, HI',
 'KOA': 'KEAHOLE-KONA, HI',
 'LIH': 'LIHUE, HI',
 'CID': 'CEDAR RAPIDS/IOWA CITY, IA',
 'DSM': 'DES MOINES, IA',
 'BOI': 'AIR TERM. (GOWEN FLD) BOISE, ID',
 'EPI': 'EASTPORT, ID',
 'IDA': 'FANNING FIELD - IDAHO FALLS, ID',
 'PTL': 'PORTHILL, ID',
 'SPI': 'CAPITAL - SPRINGFIELD, IL',
 'CHI': 'CHICAGO, IL',
 'DPA': 'DUPAGE COUNTY, IL',
 'PIA': 'GREATER PEORIA, IL',
 'RFD': 'GREATER ROCKFORD, IL',
 'UGN': 'MEMORIAL - WAUKEGAN, IL',
 'GAR': 'GARY, IN',
 'HMM': 'HAMMOND, IN',
 'INP': 'INDIANAPOLIS, IN',
 'MRL': 'MERRILLVILLE, IN',
 'SBN': 'SOUTH BEND, IN',
 'ICT': 'MID-CONTINENT - WITCHITA, KS',
 'LEX': 'BLUE GRASS - LEXINGTON, KY',
 'LOU': 'LOUISVILLE, KY',
 'BTN': 'BATON ROUGE, LA',
 'LKC': 'LAKE CHARLES, LA',
 'LAK': 'LAKE CHARLES, LA (BPS)',
 'MLU': 'MONROE, LA',
 'MGC': 'MORGAN CITY, LA',
 'NOL': 'NEW ORLEANS, LA',
 'BOS': 'BOSTON, MA',
 'GLO': 'GLOUCESTER, MA',
 'BED': 'HANSCOM FIELD - BEDFORD, MA',
 'LYN': 'LYNDEN, WA',
 'ADW': 'ANDREWS AFB, MD',
 'BAL': 'BALTIMORE, MD',
 'MKG': 'MUSKEGON, MD',
 'PAX': 'PATUXENT RIVER, MD',
 'BGM': 'BANGOR, ME',
 'BOO': 'BOOTHBAY HARBOR, ME',
 'BWM': 'BRIDGEWATER, ME',
 'BCK': 'BUCKPORT, ME',
 'CLS': 'CALAIS, ME',
 'CRB': 'CARIBOU, ME',
 'COB': 'COBURN GORE, ME',
 'EST': 'EASTCOURT, ME',
 'EPT': 'EASTPORT MUNICIPAL, ME',
 'EPM': 'EASTPORT, ME',
 'FOR': 'FOREST CITY, ME',
 'FTF': 'FORT FAIRFIELD, ME',
 'FTK': 'FORT KENT, ME',
 'HML': 'HAMIIN, ME',
 'HTM': 'HOULTON, ME',
 'JKM': 'JACKMAN, ME',
 'KAL': 'KALISPEL, MT',
 'LIM': 'LIMESTONE, ME',
 'LUB': 'LUBEC, ME',
 'MAD': 'MADAWASKA, ME',
 'POM': 'PORTLAND, ME',
 'RGM': 'RANGELEY, ME (BPS)',
 'SBR': 'SOUTH BREWER, ME',
 'SRL': 'ST AURELIE, ME',
 'SPA': 'ST PAMPILE, ME',
 'VNB': 'VAN BUREN, ME',
 'VCB': 'VANCEBORO, ME',
 'AGN': 'ALGONAC, MI',
 'ALP': 'ALPENA, MI',
 'BCY': 'BAY CITY, MI',
 'DET': 'DETROIT, MI',
 'GRP': 'GRAND RAPIDS, MI',
 'GRO': 'GROSSE ISLE, MI',
 'ISL': 'ISLE ROYALE, MI',
 'MRC': 'MARINE CITY, MI',
 'MRY': 'MARYSVILLE, MI',
 'PTK': 'OAKLAND COUNTY - PONTIAC, MI',
 'PHU': 'PORT HURON, MI',
 'RBT': 'ROBERTS LANDING, MI',
 'SAG': 'SAGINAW, MI',
 'SSM': 'SAULT STE. MARIE, MI',
 'SCL': 'ST CLAIR, MI',
 'YIP': 'WILLOW RUN - YPSILANTI, MI',
 'BAU': 'BAUDETTE, MN',
 'CAR': 'CARIBOU MUNICIPAL AIRPORT, MN',
 'GTF': 'Collapsed into INT, MN',
 'INL': 'Collapsed into INT, MN',
 'CRA': 'CRANE LAKE, MN',
 'MIC': 'CRYSTAL MUNICIPAL AIRPORT, MN',
 'DUL': 'DULUTH, MN',
 'ELY': 'ELY, MN',
 'GPM': 'GRAND PORTAGE, MN',
 'SVC': 'GRANT COUNTY - SILVER CITY, MN',
 'INT': 'INTL FALLS, MN',
 'LAN': 'LANCASTER, MN',
 'MSP': 'MINN./ST PAUL, MN',
 'LIN': 'NORTHERN SVC CENTER, MN',
 'NOY': 'NOYES, MN',
 'PIN': 'PINE CREEK, MN',
 '48Y': 'PINECREEK BORDER ARPT, MN',
 'RAN': 'RAINER, MN',
 'RST': 'ROCHESTER, MN',
 'ROS': 'ROSEAU, MN',
 'SPM': 'ST PAUL, MN',
 'WSB': 'WARROAD INTL, SPB, MN',
 'WAR': 'WARROAD, MN',
 'KAN': 'KANSAS CITY, MO',
 'SGF': 'SPRINGFIELD-BRANSON, MO',
 'STL': 'ST LOUIS, MO',
 'WHI': 'WHITETAIL, MT',
 'WHM': 'WILD HORSE, MT',
 'GPT': 'BILOXI REGIONAL, MS',
 'GTR': 'GOLDEN TRIANGLE LOWNDES CNTY, MS',
 'GUL': 'GULFPORT, MS',
 'PAS': 'PASCAGOULA, MS',
 'JAN': 'THOMPSON FIELD - JACKSON, MS',
 'BIL': 'BILLINGS, MT',
 'BTM': 'BUTTE, MT',
 'CHF': 'CHIEF MT, MT',
 'CTB': 'CUT BANK MUNICIPAL, MT',
 'CUT': 'CUT BANK, MT',
 'DLB': 'DEL BONITA, MT',
 'EUR': 'EUREKA, MT (BPS)',
 'BZN': 'GALLATIN FIELD - BOZEMAN, MT',
 'FCA': 'GLACIER NATIONAL PARK, MT',
 'GGW': 'GLASGOW, MT',
 'GRE': 'GREAT FALLS, MT',
 'HVR': 'HAVRE, MT',
 'HEL': 'HELENA, MT',
 'LWT': 'LEWISTON, MT',
 'MGM': 'MORGAN, MT',
 'OPH': 'OPHEIM, MT',
 'PIE': 'PIEGAN, MT',
 'RAY': 'RAYMOND, MT',
 'ROO': 'ROOSVILLE, MT',
 'SCO': 'SCOBEY, MT',
 'SWE': 'SWEETGTASS, MT',
 'TRL': 'TRIAL CREEK, MT',
 'TUR': 'TURNER, MT',
 'WCM': 'WILLOW CREEK, MT',
 'CLT': 'CHARLOTTE, NC',
 'FAY': 'FAYETTEVILLE, NC',
 'MRH': 'MOREHEAD CITY, NC',
 'FOP': 'MORRIS FIELDS AAF, NC',
 'GSO': 'PIEDMONT TRIAD INTL AIRPORT, NC',
 'RDU': 'RALEIGH/DURHAM, NC',
 'SSC': 'SHAW AFB - SUMTER, NC',
 'WIL': 'WILMINGTON, NC',
 'AMB': 'AMBROSE, ND',
 'ANT': 'ANTLER, ND',
 'CRY': 'CARBURY, ND',
 'DNS': 'DUNSEITH, ND',
 'FAR': 'FARGO, ND',
 'FRT': 'FORTUNA, ND',
 'GRF': 'GRAND FORKS, ND',
 'HNN': 'HANNAH, ND',
 'HNS': 'HANSBORO, ND',
 'MAI': 'MAIDA, ND',
 'MND': 'MINOT, ND',
 'NEC': 'NECHE, ND',
 'NOO': 'NOONAN, ND',
 'NRG': 'NORTHGATE, ND',
 'PEM': 'PEMBINA, ND',
 'SAR': 'SARLES, ND',
 'SHR': 'SHERWOOD, ND',
 'SJO': 'ST JOHN, ND',
 'WAL': 'WALHALLA, ND',
 'WHO': 'WESTHOPE, ND',
 'WND': 'WILLISTON, ND',
 'OMA': 'OMAHA, NE',
 'LEB': 'LEBANON, NH',
 'MHT': 'MANCHESTER, NH',
 'PNH': 'PITTSBURG, NH',
 'PSM': 'PORTSMOUTH, NH',
 'BYO': 'BAYONNE, NJ',
 'CNJ': 'CAMDEN, NJ',
 'HOB': 'HOBOKEN, NJ',
 'JER': 'JERSEY CITY, NJ',
 'WRI': 'MC GUIRE AFB - WRIGHTSOWN, NJ',
 'MMU': 'MORRISTOWN, NJ',
 'NEW': 'NEWARK/TETERBORO, NJ',
 'PER': 'PERTH AMBOY, NJ',
 'ACY': 'POMONA FIELD - ATLANTIC CITY, NJ',
 'ALA': 'ALAMAGORDO, NM (BPS)',
 'ABQ': 'ALBUQUERQUE, NM',
 'ANP': 'ANTELOPE WELLS, NM',
 'CRL': 'CARLSBAD, NM',
 'COL': 'COLUMBUS, NM',
 'CDD': 'CRANE LAKE - ST. LOUIS CNTY, NM',
 'DNM': 'DEMING, NM (BPS)',
 'LAS': 'LAS CRUCES, NM',
 'LOB': 'LORDSBURG, NM (BPS)',
 'RUI': 'RUIDOSO, NM',
 'STR': 'SANTA TERESA, NM',
 'RNO': 'CANNON INTL - RENO/TAHOE, NV',
 'FLX': 'FALLON MUNICIPAL AIRPORT, NV',
 'LVG': 'LAS VEGAS, NV',
 'REN': 'RENO, NV',
 'ALB': 'ALBANY, NY',
 'AXB': 'ALEXANDRIA BAY, NY',
 'BUF': 'BUFFALO, NY',
 'CNH': 'CANNON CORNERS, NY',
 'CAP': 'CAPE VINCENT, NY',
 'CHM': 'CHAMPLAIN, NY',
 'CHT': 'CHATEAUGAY, NY',
 'CLA': 'CLAYTON, NY',
 'FTC': 'FORT COVINGTON, NY',
 'LAG': 'LA GUARDIA, NY',
 'LEW': 'LEWISTON, NY',
 'MAS': 'MASSENA, NY',
 'MAG': 'MCGUIRE AFB, NY',
 'MOO': 'MOORES, NY',
 'MRR': 'MORRISTOWN, NY',
 'NYC': 'NEW YORK, NY',
 'NIA': 'NIAGARA FALLS, NY',
 'OGD': 'OGDENSBURG, NY',
 'OSW': 'OSWEGO, NY',
 'ELM': 'REGIONAL ARPT - HORSEHEAD, NY',
 'ROC': 'ROCHESTER, NY',
 'ROU': 'ROUSES POINT, NY',
 'SWF': 'STEWART - ORANGE CNTY, NY',
 'SYR': 'SYRACUSE, NY',
 'THO': 'THOUSAND ISLAND BRIDGE, NY',
 'TRO': 'TROUT RIVER, NY',
 'WAT': 'WATERTOWN, NY',
 'HPN': 'WESTCHESTER - WHITE PLAINS, NY',
 'WRB': 'WHIRLPOOL BRIDGE, NY',
 'YOU': 'YOUNGSTOWN, NY',
 'AKR': 'AKRON, OH',
 'ATB': 'ASHTABULA, OH',
 'CIN': 'CINCINNATI, OH',
 'CLE': 'CLEVELAND, OH',
 'CLM': 'COLUMBUS, OH',
 'LOR': 'LORAIN, OH',
 'MBO': 'MARBLE HEADS, OH',
 'SDY': 'SANDUSKY, OH',
 'TOL': 'TOLEDO, OH',
 'OKC': 'OKLAHOMA CITY, OK',
 'TUL': 'TULSA, OK',
 'AST': 'ASTORIA, OR',
 'COO': 'COOS BAY, OR',
 'HIO': 'HILLSBORO, OR',
 'MED': 'MEDFORD, OR',
 'NPT': 'NEWPORT, OR',
 'POO': 'PORTLAND, OR',
 'PUT': 'PUT-IN-BAY, OH',
 'RDM': 'ROBERTS FIELDS - REDMOND, OR',
 'ERI': 'ERIE, PA',
 'MDT': 'HARRISBURG, PA',
 'HSB': 'HARRISONBURG, PA',
 'PHI': 'PHILADELPHIA, PA',
 'PIT': 'PITTSBURG, PA',
 'AGU': 'AGUADILLA, PR',
 'BQN': 'BORINQUEN - AGUADILLO, PR',
 'JCP': 'CULEBRA - BENJAMIN RIVERA, PR',
 'ENS': 'ENSENADA, PR',
 'FAJ': 'FAJARDO, PR',
 'HUM': 'HUMACAO, PR',
 'JOB': 'JOBOS, PR',
 'MAY': 'MAYAGUEZ, PR',
 'PON': 'PONCE, PR',
 'PSE': 'PONCE-MERCEDITA, PR',
 'SAJ': 'SAN JUAN, PR',
 'VQS': 'VIEQUES-ARPT, PR',
 'PRO': 'PROVIDENCE, RI',
 'PVD': 'THEODORE FRANCIS - WARWICK, RI',
 'CHL': 'CHARLESTON, SC',
 'CAE': 'COLUMBIA, SC #ARPT',
 'GEO': 'GEORGETOWN, SC',
 'GSP': 'GREENVILLE, SC',
 'GRR': 'GREER, SC',
 'MYR': 'MYRTLE BEACH, SC',
 'SPF': 'BLACK HILLS, SPEARFISH, SD',
 'HON': 'HOWES REGIONAL ARPT - HURON, SD',
 'SAI': 'SAIPAN, SPN',
 'TYS': 'MC GHEE TYSON - ALCOA, TN',
 'MEM': 'MEMPHIS, TN',
 'NSV': 'NASHVILLE, TN',
 'TRI': 'TRI CITY ARPT, TN',
 'ADS': 'ADDISON AIRPORT- ADDISON, TX',
 'ADT': 'AMISTAD DAM, TX',
 'ANZ': 'ANZALDUAS, TX',
 'AUS': 'AUSTIN, TX',
 'BEA': 'BEAUMONT, TX',
 'BBP': 'BIG BEND PARK, TX (BPS)',
 'SCC': 'BP SPEC COORD. CTR, TX',
 'BTC': 'BP TACTICAL UNIT, TX',
 'BOA': 'BRIDGE OF AMERICAS, TX',
 'BRO': 'BROWNSVILLE, TX',
 'CRP': 'CORPUS CHRISTI, TX',
 'DAL': 'DALLAS, TX',
 'DLR': 'DEL RIO, TX',
 'DNA': 'DONNA, TX',
 'EGP': 'EAGLE PASS, TX',
 'ELP': 'EL PASO, TX',
 'FAB': 'FABENS, TX',
 'FAL': 'FALCON HEIGHTS, TX',
 'FTH': 'FORT HANCOCK, TX',
 'AFW': 'FORT WORTH ALLIANCE, TX',
 'FPT': 'FREEPORT, TX',
 'GAL': 'GALVESTON, TX',
 'HLG': 'HARLINGEN, TX',
 'HID': 'HIDALGO, TX',
 'HOU': 'HOUSTON, TX',
 'SGR': 'HULL FIELD, SUGAR LAND ARPT, TX',
 'LLB': 'JUAREZ-LINCOLN BRIDGE, TX',
 'LCB': 'LAREDO COLUMBIA BRIDGE, TX',
 'LRN': 'LAREDO NORTH, TX',
 'LAR': 'LAREDO, TX',
 'LSE': 'LOS EBANOS, TX',
 'IND': 'LOS INDIOS, TX',
 'LOI': 'LOS INDIOS, TX',
 'MRS': 'MARFA, TX (BPS)',
 'MCA': 'MCALLEN, TX',
 'MAF': 'ODESSA REGIONAL, TX',
 'PDN': 'PASO DEL NORTE,TX',
 'PBB': 'PEACE BRIDGE, NY',
 'PHR': 'PHARR, TX',
 'PAR': 'PORT ARTHUR, TX',
 'ISB': 'PORT ISABEL, TX',
 'POE': 'PORT OF EL PASO, TX',
 'PRE': 'PRESIDIO, TX',
 'PGR': 'PROGRESO, TX',
 'RIO': 'RIO GRANDE CITY, TX',
 'ROM': 'ROMA, TX',
 'SNA': 'SAN ANTONIO, TX',
 'SNN': 'SANDERSON, TX',
 'VIB': 'VETERAN INTL BRIDGE, TX',
 'YSL': 'YSLETA, TX',
 'CHA': 'CHARLOTTE AMALIE, VI',
 'CHR': 'CHRISTIANSTED, VI',
 'CRU': 'CRUZ BAY, ST JOHN, VI',
 'FRK': 'FREDERIKSTED, VI',
 'STT': 'ST THOMAS, VI',
 'LGU': 'CACHE AIRPORT - LOGAN, UT',
 'SLC': 'SALT LAKE CITY, UT',
 'CHO': 'ALBEMARLE CHARLOTTESVILLE, VA',
 'DAA': 'DAVISON AAF - FAIRFAX CNTY, VA',
 'HOP': 'HOPEWELL, VA',
 'HEF': 'MANASSAS, VA #ARPT',
 'NWN': 'NEWPORT, VA',
 'NOR': 'NORFOLK, VA',
 'RCM': 'RICHMOND, VA',
 'ABS': 'ALBURG SPRINGS, VT',
 'ABG': 'ALBURG, VT',
 'BEB': 'BEEBE PLAIN, VT',
 'BEE': 'BEECHER FALLS, VT',
 'BRG': 'BURLINGTON, VT',
 'CNA': 'CANAAN, VT',
 'DER': 'DERBY LINE, VT (I-91)',
 'DLV': 'DERBY LINE, VT (RT. 5)',
 'ERC': 'EAST RICHFORD, VT',
 'HIG': 'HIGHGATE SPRINGS, VT',
 'MOR': 'MORSES LINE, VT',
 'NPV': 'NEWPORT, VT',
 'NRT': 'NORTH TROY, VT',
 'NRN': 'NORTON, VT',
 'PIV': 'PINNACLE ROAD, VT',
 'RIF': 'RICHFORT, VT',
 'STA': 'ST ALBANS, VT',
 'SWB': 'SWANTON, VT (BP - SECTOR HQ)',
 'WBE': 'WEST BERKSHIRE, VT',
 'ABE': 'ABERDEEN, WA',
 'ANA': 'ANACORTES, WA',
 'BEL': 'BELLINGHAM, WA',
 'BLI': 'BELLINGHAM, WASHINGTON #INTL',
 'BLA': 'BLAINE, WA',
 'BWA': 'BOUNDARY, WA',
 'CUR': 'CURLEW, WA (BPS)',
 'DVL': 'DANVILLE, WA',
 'EVE': 'EVERETT, WA',
 'FER': 'FERRY, WA',
 'FRI': 'FRIDAY HARBOR, WA',
 'FWA': 'FRONTIER, WA',
 'KLM': 'KALAMA, WA',
 'LAU': 'LAURIER, WA',
 'LON': 'LONGVIEW, WA',
 'MET': 'METALINE FALLS, WA',
 'MWH': 'MOSES LAKE GRANT COUNTY ARPT, WA',
 'NEA': 'NEAH BAY, WA',
 'NIG': 'NIGHTHAWK, WA',
 'OLY': 'OLYMPIA, WA',
 'ORO': 'OROVILLE, WA',
 'PWB': 'PASCO, WA',
 'PIR': 'POINT ROBERTS, WA',
 'PNG': 'PORT ANGELES, WA',
 'PTO': 'PORT TOWNSEND, WA',
 'SEA': 'SEATTLE, WA',
 'SPO': 'SPOKANE, WA',
 'SUM': 'SUMAS, WA',
 'TAC': 'TACOMA, WA',
 'PSC': 'TRI-CITIES - PASCO, WA',
 'VAN': 'VANCOUVER, WA',
 'AGM': 'ALGOMA, WI',
 'BAY': 'BAYFIELD, WI',
 'GRB': 'GREEN BAY, WI',
 'MNW': 'MANITOWOC, WI',
 'MIL': 'MILWAUKEE, WI',
 'MSN': 'TRUAX FIELD - DANE COUNTY, WI',
 'CHS': 'CHARLESTON, WV',
 'CLK': 'CLARKSBURG, WV',
 'BLF': 'MERCER COUNTY, WV',
 'CSP': 'CASPER, WY',
 'XXX': 'NOT REPORTED/UNKNOWN',
 '888': 'UNIDENTIFED AIR / SEAPORT',
 'UNK': 'UNKNOWN POE',
 'CLG': 'CALGARY, CANADA',
 'EDA': 'EDMONTON, CANADA',
 'YHC': 'HAKAI PASS, CANADA',
 'HAL': 'Halifax, NS, Canada',
 'MON': 'MONTREAL, CANADA',
 'OTT': 'OTTAWA, CANADA',
 'YXE': 'SASKATOON, CANADA',
 'TOR': 'TORONTO, CANADA',
 'VCV': 'VANCOUVER, CANADA',
 'VIC': 'VICTORIA, CANADA',
 'WIN': 'WINNIPEG, CANADA',
 'AMS': 'AMSTERDAM-SCHIPHOL, NETHERLANDS',
 'ARB': 'ARUBA, NETH ANTILLES',
 'BAN': 'BANKOK, THAILAND',
 'BEI': 'BEICA #ARPT, ETHIOPIA',
 'PEK': 'BEIJING CAPITAL INTL, PRC',
 'BDA': 'KINDLEY FIELD, BERMUDA',
 'BOG': 'BOGOTA, EL DORADO #ARPT, COLOMBIA',
 'EZE': 'BUENOS AIRES, MINISTRO PIST, ARGENTINA',
 'CUN': 'CANCUN, MEXICO',
 'CRQ': 'CARAVELAS, BA #ARPT, BRAZIL',
 'MVD': 'CARRASCO, URUGUAY',
 'DUB': 'DUBLIN, IRELAND',
 'FOU': 'FOUGAMOU #ARPT, GABON',
 'FBA': 'FREEPORT, BAHAMAS',
 'MTY': 'GEN M. ESCOBEDO, Monterrey, MX',
 'HMO': 'GEN PESQUEIRA GARCIA, MX',
 'GCM': 'GRAND CAYMAN, CAYMAN ISLAND',
 'GDL': 'GUADALAJARA, MIGUEL HIDAL, MX',
 'HAM': 'HAMILTON, BERMUDA',
 'ICN': 'INCHON, SEOUL KOREA',
 'IWA': 'INVALID - IWAKUNI, JAPAN',
 'CND': 'KOGALNICEANU, ROMANIA',
 'LAH': 'LABUHA ARPT, INDONESIA',
 'DUR': 'LOUIS BOTHA, SOUTH AFRICA',
 'MAL': 'MANGOLE ARPT, INDONESIA',
 'MDE': 'MEDELLIN, COLOMBIA',
 'MEX': 'JUAREZ INTL, MEXICO CITY, MX',
 'LHR': 'MIDDLESEX, ENGLAND',
 'NBO': 'NAIROBI, KENYA',
 'NAS': 'NASSAU, BAHAMAS',
 'NCA': 'NORTH CAICOS, TURK & CAIMAN',
 'PTY': 'OMAR TORRIJOS, PANAMA',
 'SPV': 'PAPUA, NEW GUINEA',
 'UIO': 'QUITO (MARISCAL SUCR), ECUADOR',
 'RIT': 'ROME, ITALY',
 'SNO': 'SAKON NAKHON #ARPT, THAILAND',
 'SLP': 'SAN LUIS POTOSI #ARPT, MEXICO',
 'SAN': 'SAN SALVADOR, EL SALVADOR',
 'SRO': 'SANTANA RAMOS #ARPT, COLOMBIA',
 'GRU': 'GUARULHOS INTL, SAO PAULO, BRAZIL',
 'SHA': 'SHANNON, IRELAND',
 'HIL': 'SHILLAVO, ETHIOPIA',
 'TOK': 'TOROKINA #ARPT, PAPUA, NEW GUINEA',
 'VER': 'VERACRUZ, MEXICO',
 'LGW': 'WEST SUSSEX, ENGLAND',
 'ZZZ': 'MEXICO Land (Banco de Mexico)',
 'CHN': 'No PORT Code (CHN)',
 'CNC': 'CANNON CORNERS, NY',
 'MAA': 'Abu Dhabi',
 'AG0': 'MAGNOLIA, AR',
 'BHM': 'BAR HARBOR, ME',
 'BHX': 'BIRMINGHAM, AL',
 'CAK': 'AKRON, OH',
 'FOK': 'SUFFOLK COUNTY, NY',
 'LND': 'LANDER, WY',
 'MAR': 'MARFA, TX',
 'MLI': 'MOLINE, IL',
 'RIV': 'RIVERSIDE, CA',
 'RME': 'ROME, NY',
 'VNY': 'VAN NUYS, CA',
 'YUM': 'YUMA, AZ',
 'FRG': 'Collapsed (FOK) 06/15',
 'HRL': 'Collapsed (HLG) 06/15',
 'ISP': 'Collapsed (FOK) 06/15',
 'JSJ': 'Collapsed (SAJ) 06/15',
 'BUS': 'Collapsed (BUF) 06/15',
 'IAG': 'Collapsed (NIA) 06/15',
 'PHN': 'Collapsed (PHU) 06/15',
 'STN': 'Collapsed (STR) 06/15',
 'VMB': 'Collapsed (VNB) 06/15',
 'T01': 'Collapsed (SEA) 06/15',
 'PHF': 'No PORT Code (PHF)',
 'DRV': 'No PORT Code (DRV)',
 'FTB': 'No PORT Code (FTB)',
 'GAC': 'No PORT Code (GAC)',
 'GMT': 'No PORT Code (GMT)',
 'JFA': 'No PORT Code (JFA)',
 'JMZ': 'No PORT Code (JMZ)',
 'NC8': 'No PORT Code (NC8)',
 'NYL': 'No PORT Code (NYL)',
 'OAI': 'No PORT Code (OAI)',
 'PCW': 'No PORT Code (PCW)',
 'WA5': 'No PORT Code (WAS)',
 'WTR': 'No PORT Code (WTR)',
 'X96': 'No PORT Code (X96)',
 'XNA': 'No PORT Code (XNA)',
 'YGF': 'No PORT Code (YGF)',
 '5T6': 'No PORT Code (5T6)',
 '060': 'No PORT Code (60)',
 'SP0': 'No PORT Code (SP0)',
 'W55': 'No PORT Code (W55)',
 'X44': 'No PORT Code (X44)',
 'AUH': 'No PORT Code (AUH)',
 'RYY': 'No PORT Code (RYY)',
 'SUS': 'No PORT Code (SUS)',
 '74S': 'No PORT Code (74S)',
 'ATW': 'No PORT Code (ATW)',
 'CPX': 'No PORT Code (CPX)',
 'MTH': 'No PORT Code (MTH)',
 'PFN': 'No PORT Code (PFN)',
 'SCH': 'No PORT Code (SCH)',
 'ASI': 'No PORT Code (ASI)',
 'BKF': 'No PORT Code (BKF)',
 'DAY': 'No PORT Code (DAY)',
 'Y62': 'No PORT Code (Y62)',
 'AG': 'No PORT Code (AG)',
 'BCM': 'No PORT Code (BCM)',
 'DEC': 'No PORT Code (DEC)',
 'PLB': 'No PORT Code (PLB)',
 'CXO': 'No PORT Code (CXO)',
 'JBQ': 'No PORT Code (JBQ)',
 'JIG': 'No PORT Code (JIG)',
 'OGS': 'No PORT Code (OGS)',
 'TIW': 'No PORT Code (TIW)',
 'OTS': 'No PORT Code (OTS)',
 'AMT': 'No PORT Code (AMT)',
 'EGE': 'No PORT Code (EGE)',
 'GPI': 'No PORT Code (GPI)',
 'NGL': 'No PORT Code (NGL)',
 'OLM': 'No PORT Code (OLM)',
 '.GA': 'No PORT Code (.GA)',
 'CLX': 'No PORT Code (CLX)',
 'CP ': 'No PORT Code (CP)',
 'FSC': 'No PORT Code (FSC)',
 'NK': 'No PORT Code (NK)',
 'ADU': 'No PORT Code (ADU)',
 'AKT': 'No PORT Code (AKT)',
 'LIT': 'No PORT Code (LIT)',
 'A2A': 'No PORT Code (A2A)',
 'OSN': 'No PORT Code (OSN)'}

In [6]:
port_codes_df = pd.DataFrame(port_codes_dic.items(), columns=['CODE', 'CITY'])
country_codes_df = pd.DataFrame(country_codes_dic.items(), columns=['CODE', 'CITY'])

In [7]:
port_codes_df

    CODE                          CITY
0    ALC                     ALCAN, AK
1    ANC                 ANCHORAGE, AK
2    BAR  BAKER AAF - BAKER ISLAND, AK
3    DAC             DALTONS CACHE, AK
4    PIZ    DEW STATION PT LAY DEW, AK
..   ...                           ...
655  ADU            No PORT Code (ADU)
656  AKT            No PORT Code (AKT)
657  LIT            No PORT Code (LIT)
658  A2A            No PORT Code (A2A)
659  OSN            No PORT Code (OSN)

[660 rows x 2 columns]

In [8]:
port_codes_df.to_csv('port_codes.csv')
country_codes_df.to_csv('country_codes.csv')

## Create Arrivals Table

In [14]:
i94_fname = 'Data/18-83510-I94-Data-2016/i94_jan16_sub.sas7bdat'
i94_df = pd.read_sas(i94_fname, 'sas7bdat', encoding="ISO-8859-1")

In [15]:
df_sasdatadict = pd.read_excel('Data/DataDict_SASfile.xlsx', sheet_name=0) 
newSAScolumns = df_sasdatadict.loc[0, :].values.tolist()
i94_df.columns = newSAScolumns

In [16]:
Arrivals_df = i94_df[['ID','PORTCODE','AIRLINECODE','FLIGHTNUMBER','DEPARTUREDATE','ARRIVALDATE','DEPARTUREFLAG','ARRIVALFLAG']].copy()
Arrivals_df['MUNICIPALITY'] = Arrivals_df['PORTCODE'].map(port_codes_dic).to_list()

In [17]:
Arrivals_df['CITYNAME'] =  Arrivals_df['MUNICIPALITY'].str.split(',',expand=True)[0]

In [19]:
i94_df.sort_values('ID')

,ID,YEAR,MONTH,COUNTRYCODEPROCESSING_CIT,COUNTRYCODEPROCESSING_RES,PORTCODE,ARRIVALDATE,MODAL,STATE,DEPARTUREDATE,...,UPDATEFLAG,MATCHARRDEP,YEARBIRTH,ADDMITTEDUNTIL,GENDER,INS_NUM,AIRLINECODE,ADMINNUMBER,FLIGHTNUMBER,VISATYPE
0,7.0,2016.0,1.0,101.0,101.0,BOS,20465.0,1.0,MA,NaN,...,NaN,NaN,1996.0,D/S,M,NaN,LH,3.466083e+08,424,F1
1,8.0,2016.0,1.0,101.0,101.0,BOS,20465.0,1.0,MA,NaN,...,NaN,NaN,1996.0,D/S,M,NaN,LH,3.466276e+08,424,F1
2,9.0,2016.0,1.0,101.0,101.0,BOS,20469.0,1.0,CT,20480.0,...,NaN,M,1999.0,07152016,F,NaN,AF,3.810924e+08,338,B2
3,10.0,2016.0,1.0,101.0,101.0,BOS,20469.0,1.0,CT,20499.0,...,NaN,M,1971.0,07152016,F,NaN,AF,3.810879e+08,338,B2
4,11.0,2016.0,1.0,101.0,101.0,BOS,20469.0,1.0,CT,20499.0,...,NaN,M,2004.0,07152016,M,NaN,AF,3.810787e+08,338,B2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2839548,6148372.0,2016.0,1.0,438.0,438.0,MET,20480.0,3.0,CA,20521.0,...,NaN,M,1961.0,04252016,F,NaN,NaN,1.758801e+10,LAND,WT
2797111,6148373.0,2016.0,1.0,438.0,438.0,XXX,20478.0,2.0,FL,NaN,...,NaN,M,1986.0,07222016,M,3148,NaN,1.356867e+10,NaN,B1
2797112,6148374.0,2016.0,1.0,464.0,464.0,XXX,20478.0,2.0,FL,NaN,...,NaN,M,1989.0,07222016,F,3148,NaN,1.356867e+10,NaN,B1
2797113,6148393.0,2016.0,1.0,107.0,107.0,ERI,20462.0,1.0,PA,NaN,...,NaN,NaN,1994.0,D/S,F,NaN,B3D,7.997488e+08,NONE,F1
2797114,6148395.0,2016.0,1.0,207.0,207.0,BOS,20469.0,1.0,MA,NaN,...,NaN,NaN,1994.0,D/S,F,NaN,CX,8.032459e+08,812,F1

## Create Immigration_Details table

In [20]:
Immigrant_Details_df = i94_df[['ID','COUNTRYCODEPROCESSING_CIT','COUNTRYCODEPROCESSING_RES','VISACODE','WHEREVISAISSUED','ADDMITTEDUNTIL','VISATYPE']].copy()
Immigrant_Details_df['CITIZENSHIP'] = Immigrant_Details_df['COUNTRYCODEPROCESSING_CIT'].map(country_codes_dic).to_list()
Immigrant_Details_df['RESIDENCY'] = Immigrant_Details_df['COUNTRYCODEPROCESSING_RES'].map(country_codes_dic).to_list()

In [21]:
Immigrant_Details_df.sort_values('ID')

,ID,COUNTRYCODEPROCESSING_CIT,COUNTRYCODEPROCESSING_RES,VISACODE,WHEREVISAISSUED,ADDMITTEDUNTIL,VISATYPE,CITIZENSHIP,RESIDENCY
0,7.0,101.0,101.0,3.0,NaN,D/S,F1,ALBANIA,ALBANIA
1,8.0,101.0,101.0,3.0,NaN,D/S,F1,ALBANIA,ALBANIA
2,9.0,101.0,101.0,2.0,NaN,07152016,B2,ALBANIA,ALBANIA
3,10.0,101.0,101.0,2.0,NaN,07152016,B2,ALBANIA,ALBANIA
4,11.0,101.0,101.0,2.0,NaN,07152016,B2,ALBANIA,ALBANIA
...,...,...,...,...,...,...,...,...,...
2839548,6148372.0,438.0,438.0,2.0,NaN,04252016,WT,AUSTRALIA,AUSTRALIA
2797111,6148373.0,438.0,438.0,1.0,PAR,07222016,B1,AUSTRALIA,AUSTRALIA
2797112,6148374.0,464.0,464.0,1.0,PAR,07222016,B1,NEW ZEALAND,NEW ZEALAND
2797113,6148393.0,107.0,107.0,3.0,WRW,D/S,F1,POLAND,POLAND
2797114,6148395.0,207.0,207.0,3.0,NaN,D/S,F1,SINGAPORE,SINGAPORE

## Create Personal_Demographics table

In [41]:
Personal_Demographics_df = i94_df[['ID','YEARBIRTH','GENDER','OCCUPATIONWILLBEPERFORMEDINUS']].copy()

In [45]:
Personal_Demographics_df

                ID  YEARBIRTH GENDER OCCUPATIONWILLBEPERFORMEDINUS
0              6.0     1979.0    NaN                           NaN
1              7.0     1991.0      M                           NaN
2             15.0     1961.0      M                           NaN
3             16.0     1988.0    NaN                           NaN
4             17.0     2012.0    NaN                           NaN
...            ...        ...    ...                           ...
3096308   625229.0     1980.0    NaN                           NaN
3096309  1972204.0     1980.0      F                           NaN
3096310  4249448.0     1993.0      F                           NaN
3096311  5658953.0     1959.0      M                           NaN
3096312  3106671.0     1958.0      M                           NaN

[3096313 rows x 4 columns]

## Create Cities_Temp table

In [270]:
Cities_Temp_df = pd.read_csv('Data/GlobalLandTemperaturesByCity.csv')
Cities_Temp_df.columns

Index(['dt', 'AverageTemperature', 'AverageTemperatureUncertainty', 'City',
       'Country', 'Latitude', 'Longitude'],
      dtype='object')

In [271]:
Cities_Temp_df = Cities_Temp_df[Cities_Temp_df['Country']=='United States']
Cities_Temp_df = Cities_Temp_df[['AverageTemperature','City']]
Cities_Temp_min_df = Cities_Temp_df.groupby(['City']).min()
Cities_Temp_max_df = Cities_Temp_df.groupby(['City']).max()
Cities_Temp_min_df = Cities_Temp_min_df.rename(columns={"AverageTemperature": "MinTemperature"})
Cities_Temp_max_df = Cities_Temp_max_df.rename(columns={"AverageTemperature": "MaxTemperature"})

In [272]:
Cities_Temp_df = Cities_Temp_df.groupby(['City']).mean()

In [273]:
Cities_Temp_df = Cities_Temp_df.join(Cities_Temp_min_df)
Cities_Temp_df = Cities_Temp_df.join(Cities_Temp_max_df)

In [274]:
Cities_Temp_df['city'] = Cities_Temp_df.index.str.upper()

In [275]:
Cities_Temp_df

,AverageTemperature,MinTemperature,MaxTemperature,city
City,,,,
Abilene,16.892500,-0.568,32.110,ABILENE
Akron,9.605076,-11.416,28.597,AKRON
Albuquerque,11.135264,-5.073,25.688,ALBUQUERQUE
Alexandria,11.918475,-6.386,30.833,ALEXANDRIA
Allentown,9.523296,-9.162,29.141,ALLENTOWN
...,...,...,...,...
Wichita Falls,16.485163,-3.574,33.778,WICHITA FALLS
Windsor,8.520341,-11.638,28.313,WINDSOR
Winston Salem,14.418861,-2.690,31.475,WINSTON SALEM
Worcester,7.341441,-11.487,27.751,WORCESTER
Yonkers,9.523296,-9.162,29.141,YONKERS

In [290]:
#Cities_Temp_df[Cities_Temp_df['city'] == 'NEWARK']
#Cities_Temp_df[Cities_Temp_df['city'].str.startswith('H')]

## Create Cities_Demographics table

In [24]:
citiesdemo_df = pd.read_json('Data/us-cities-demographics.json')

In [29]:
citiesdemo_df['fields'][0:3]

0    {'count': 76402, 'city': 'Newark', 'number_of_...
1    {'count': 1343, 'city': 'Peoria', 'number_of_v...
2    {'count': 2583, 'city': 'O'Fallon', 'number_of...
Name: fields, dtype: object

In [25]:
pd.DataFrame(citiesdemo_df.fields.values.tolist())

,count,city,number_of_veterans,male_population,foreign_born,average_household_size,median_age,state,race,total_population,state_code,female_population
0,76402,Newark,5829.0,138040.0,86253.0,2.73,34.6,New Jersey,White,281913,NJ,143873.0
1,1343,Peoria,6634.0,56229.0,7517.0,2.40,33.1,Illinois,American Indian and Alaska Native,118661,IL,62432.0
2,2583,O'Fallon,5783.0,41762.0,3269.0,2.77,36.0,Missouri,Hispanic or Latino,85032,MO,43270.0
3,70303,Hampton,19638.0,66214.0,6204.0,2.48,35.5,Virginia,Black or African-American,136454,VA,70240.0
4,33630,Lakewood,9988.0,76013.0,14169.0,2.29,37.7,Colorado,Hispanic or Latino,152589,CO,76576.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2886,14735,Boca Raton,4367.0,44760.0,21117.0,2.22,47.3,Florida,Hispanic or Latino,93226,FL,48466.0
2887,28148,Fort Lauderdale,8897.0,93948.0,47582.0,2.38,42.8,Florida,Hispanic or Latino,178587,FL,84639.0
2888,165423,Oxnard,6367.0,101906.0,78678.0,4.08,31.0,California,White,207252,CA,105346.0
2889,62927,Somerville,2103.0,41028.0,22292.0,2.43,31.0,Massachusetts,White,80334,MA,39306.0
2890,2252,Odessa,5509.0,61119.0,15845.0,2.92,31.2,Texas,Asian,118980,TX,57861.0

In [227]:
citiesdemo_fields_df = pd.DataFrame(citiesdemo_df.fields.values.tolist())

In [228]:
citiesdemo_df = citiesdemo_df.join(citiesdemo_fields_df)

In [229]:
citiesdemo_df['city'] = citiesdemo_df['city'].str.upper()

In [230]:
citiesdemo_pivot = citiesdemo_df[['city','count','race']].pivot_table(index="city", columns="race", values="count", aggfunc=np.sum, fill_value=0)

In [231]:
citiesdemo_df = citiesdemo_df[['city','female_population','male_population','foreign_born','number_of_veterans','total_population','average_household_size']].drop_duplicates()

In [232]:
Cities_Demographics_df = citiesdemo_pivot.merge(citiesdemo_df,left_index=True, right_on='city')

In [233]:
Cities_Demographics_df

,American Indian and Alaska Native,Asian,Black or African-American,Hispanic or Latino,White,city,female_population,male_population,foreign_born,number_of_veterans,total_population,average_household_size
1058,1813,2929,14449,33222,95487,ABILENE,60664.0,65212.0,8129.0,9367.0,125876,2.64
438,1845,9033,66551,3684,129192,AKRON,100667.0,96886.0,10024.0,12878.0,197553,2.24
907,0,10336,6577,34897,63666,ALAFAYA,45760.0,39504.0,15842.0,4176.0,85264,2.94
872,1329,27984,7364,8265,44232,ALAMEDA,40867.0,37747.0,18841.0,4504.0,78614,2.52
44,2056,8740,84743,11151,75528,ALBANY,39414.0,31695.0,861.0,5409.0,71109,2.38
...,...,...,...,...,...,...,...,...,...,...,...,...
752,1112,13981,38731,73608,129492,YONKERS,104538.0,96580.0,61247.0,4801.0,201118,2.80
337,211,17616,1326,10599,49980,YORBA LINDA,36006.0,31960.0,15532.0,3171.0,67966,3.00
342,875,247,31725,7564,33031,YOUNGS,33851.0,30758.0,1058.0,3620.0,64609,2.22
627,2163,15065,1912,20890,48746,YUBA CITY,33290.0,33654.0,18032.0,4706.0,66944,2.90
584,1228,1180,3731,57054,69691,YUMA,45847.0,48298.0,19326.0,7182.0,94145,2.64

In [22]:
#Cities_Demographics_df[Cities_Demographics_df['city']=='SAINT PAUL']

In [23]:
#Cities_Demographics_df[Cities_Demographics_df['city']=='SARASOTA']

## Match Arrival City Demographics

In [246]:
Cities_Demographics_df.loc[Cities_Demographics_df['city'] == 'NEWARK', ['city']] = 'NEWARK/TETERBORO'
Cities_Demographics_df.loc[Cities_Demographics_df['city'] == 'WASHINGTON', ['city']] = 'WASHINGTON DC'
Cities_Demographics_df.loc[Cities_Demographics_df['city'] == 'ST PAUL', ['city']] = 'SAINT PAUL'

## Match Arrival City Temperatures

In [285]:
Cities_Temp_df.loc[Cities_Temp_df['city'] == 'NEWARK', ['city']] = 'NEWARK/TETERBORO'
Cities_Temp_df.loc[Cities_Temp_df['city'] == 'WASHINGTON', ['city']] = 'WASHINGTON DC'
Cities_Temp_df.loc[Cities_Temp_df['city'] == 'ST PAUL', ['city']] = 'SAINT PAUL'

In [286]:
Cities_Temp_city_df = Cities_Temp_df['city'].unique()

In [287]:
dif_temp = list(set(Arrivals_Cities).difference(Cities_Temp_city_df))
match_temp = list(set(Arrivals_Cities).intersection(Cities_Temp_city_df))

In [288]:
Arrivals_df[Arrivals_df['CITY'].isin(dif_temp)][['CITY']].value_counts().head(20)

CITY
HONOLULU           142720
AGANA               80919
DUBLIN              24371
SAIPAN              23628
TORONTO             20886
Abu Dhabi           18151
PALM SPRINGS        18117
FORT MYERS          17514
ST PAUL             16973
KAHULUI - MAUI      13259
NASSAU              13032
BLAINE              11087
SANFORD             10159
SAN JUAN             9144
WEST PALM BEACH      9093
NIAGARA FALLS        6102
MONTREAL             6006
HAMILTON             5207
NORTH CAICOS         5197
CHAMPLAIN            5197
dtype: int64

In [254]:
Arrivals_Cities = Arrivals_df['CITY'].unique()
City_Demo_Cities = Cities_Demographics_df['city'].unique()

In [248]:
dif_demo = list(set(Arrivals_Cities).difference(City_Demo_Cities))
match_demo = list(set(Arrivals_Cities).intersection(City_Demo_Cities))

In [249]:
Arrivals_df[Arrivals_df['CITY'].isin(dif_demo)][['CITY']].value_counts().head(20)

CITY
HONOLULU                142720
AGANA                    80919
DUBLIN                   24371
SAIPAN                   23628
TORONTO                  20886
Abu Dhabi                18151
PALM SPRINGS             18117
ST PAUL                  16973
KAHULUI - MAUI           13259
NASSAU                   13032
BLAINE                   11087
SANFORD                  10159
NIAGARA FALLS             6102
MONTREAL                  6006
HAMILTON                  5207
CHAMPLAIN                 5197
NORTH CAICOS              5197
KEAHOLE-KONA              4042
PEACE BRIDGE              4035
BRADENTON - SARASOTA      3922
dtype: int64

In [198]:
#Cities_Demographics_df[Cities_Demographics_df['city'].str.startswith('H')]